.footer__column-link {
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    transition: opacity 0.5s ease-out;
}

.footer__column-link:hover {
    opacity: 0.8;
}