.header__main-illustration {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 765px;
    height: 608px;
    background-image: url(../../../images/two_again.png);
    background-size: cover;
    z-index: 2;
}